.carousel-inner {
    position: absolute;
    width: 1791px;
    height: 701px;
  }

  
@media (max-width: 767px) {
    .d-flex {
    flex-direction: column;
        }
  }

.form-group {
    margin : 10px;
}

.table{
    border: 2px solid;
}